<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tableau de bord - Utilisateur</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <div class="container">
        <h1>Bienvenue, <%= user.role %> <%= user.nom %> !</h1>
        <p>Email : <%= user.mail %></p>
        <p>Tel : <%= user.tel %></p>
        <p>Nom d'utilisateur : <%= user.username %></p>
        
        <a href="/user/edit" class="btn">Modifier mes informations</a><p></p>
        <a href="/logout" class="btn logout" id="logout">Se déconnecter</a>
    </div>
</body>
</html>
